{% extends 'base.html.twig' %}

{% block title %}Hello JsbuttonController!{% endblock %}

{% block body %}
    <div data-controller="jsbutton">
        <button type="button" class="btn btn-primary">CLick Me!</button>
        <div>
            Stuff
        </div>
    </div>
{% endblock %}
