{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <h1>Add to Types</h1>

    {{ form(form) }}
    <br>
    <a href="{{ path('app_types') }}">Back to Types</a>
        
{% endblock %}