{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}

    <h1>Edit from Type</h1>
    {{ form(form) }}
    <br>
    <a href="{{ path('app_types') }}">Back to Types</a>
        
{% endblock %}