{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <h1>Add to Pokedex</h1>

    {{ form(form) }}
    <br>
    <a href="{{ path('app_pokedex') }}">Back to Pokedex</a>
        
{% endblock %}