{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <a href="{{ path('app_index') }}"><h1>Pokemen</a><br><br>Add a Pokemon to the Pokedex</h1>

    <br>
    <a href="{{ path('app_pokedex') }}">Back to Pokedex</a>
        
{% endblock %}