{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <a href="{{ path('app_pokedex') }}"><h2>Pokedex</a></h2>
    <a href="{{ path('app_regions') }}"><h2>Regions</a></h2>
    <a href="{{ path('app_types') }}"><h2>Types</a></h2>
    {# <a href="{{ path('app_index') }}"><h2>Tutorials</a> (yet to come)</a></h2> #}

{% endblock %}