{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

 <a href="{{ path('app_index') }}"><h1>Pokemen</h1></a>

        <a href="{{ path('app_pokedex') }}"><h3>Pokedex</h3></a>
        <a href="{{ path('app_regions') }}"><h3>Regions</h3></a>
        <a href="{{ path('app_types') }}"><h3>Types</h3></a>
        
{% endblock %}