{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <h1> Pokedex </h1>
        {% for pokemen in pokemon %}
            <a href="{{ path('app_pokedex_pokemon', { id: pokemen.id }) }}">{{ pokemen.name }}</a>
            <br>
        {% else %}
            {{ 'Mising No.' }}
        {% endfor %}
{% endblock %}