{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <h1>Add to Regions</h1>

    {{ form(form) }}
    <br>
    <a href="{{ path('app_regions') }}">Back to Regions</a>
        
{% endblock %}