{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}

    <a href="{{ path('app_index') }}"><h1>Pokemen</a><br><br>Edit from Region</h1>
    {{ form(form) }}
    <br>
    <a href="{{ path('app_regions') }}">Back to Regions</a>
        
{% endblock %}