{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}

    <h1>Edit from Region</h1>
    {{ form(form) }}
    <br>
    <a href="{{ path('app_regions') }}">Back to Regions</a>
        
{% endblock %}